/* styles.css */

.card {
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
}
.pizza-card {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: #fff;
}

.pizza-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pizza-card .card-body {
    padding: 15px;
}

.pizza-card .card-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

.pizza-card .card-text {
    font-size: 15px;
    margin-bottom: 10px;
}

.pizza-card .price {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.pizza-card .btn {
    width: 100%;
    padding: 10px;
}
